body {
    padding: 0;
    margin:0;
}

.logo {
    float: left;
}
.nav {
    float: right;
    margin: 13px;
}

header {
    height: 70px;
    background: #fff;
    padding: 10px;
    border-bottom: 3px solid #eee;
}

.logo img {
    height: 50px;
}
.center-block {
    margin: 0 auto;
    width: 500px;
}
/* validation */

input.ng-invalid.ng-touched {
    border:1px solid red;
}

input.ng-valid.ng-touched {
    border:1px solid green;
}
